@import "variables";

.card-purple__button{
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
    border-radius: 25px;
    background-color: $bgColor;
    cursor: pointer;
    padding: 10px;
}