<!-- ngModel -->
<h4>ngModel</h4>
<h3>Nome:</h3>
<input type="text" [(ngModel)]="name" />
<h3>Nome digitado: {{ name }}</h3>

<!-- ngIf -->
<hr />
<h4>ngIf</h4>
<div style="background-color: cadetblue" *ngIf="showDiv; else template">
  É Div
</div>
<ng-template #template>
  <div>Else template</div>
</ng-template>

<button (click)="toggleDiv()">Show</button>

<!-- ngFor -->
<hr />
<h4>ngFor</h4>
<div class="list">
  <div
    class="item"
    *ngFor="
      let person of listPeople;
      let i = index;
      let isOdd = odd;
      let isLast = last;
      let isFirst = first;
      let isEvent = even
    "
    [class.item--odd]="isOdd"
    [class.item--highlighted]="personSelectedIndex === i"
    (click)="selectPerson(i)"
  >
    <p class="item__name">{{ i }} - {{ person.name }}</p>
    <p class="item__age">{{ person.age }} anos</p>

    <p *ngIf="isFirst">É o primeiro</p>
    <p *ngIf="isLast">É o último</p>
  </div>
  <app-person
    *ngFor="
      let person of listPeople;
      let i = index;
      let isOdd = odd;
      let isLast = last;
      let isFirst = first;
      let isEvent = even
    "
    [personName]="person.name"
    [personAge]="person.age"
    [personIndex]="i"
    [isFirst]="isFirst"
    [isLast]="isLast"
    [isOdd]="isOdd"
    [isSelected]="personSelectedIndex === i"
    (personSelected)="selectPerson($event)"
  >
  </app-person>
</div>

<!-- Pipe -->
<hr />
<h4>Pipe</h4>
<h1 [class]="person.status | statusClass">{{ person.name }}</h1>
<h1 [class]="person2.status | statusClass">{{ person2.name }}</h1>
<h1 [class]="person3.status | statusClass">{{ person3.name }}</h1>
